.oneSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 60vw; 
  cursor: default;
}

.sectionHeader {
  margin-bottom: 30px;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.oneField {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.oneField label {
  margin-bottom: 5px;
}

.oneField option {
  background-color: var(--deep-blue);
  color: var(--white);
  border: 1px solid var(--dark-blue);
  border-radius: 20px;
}

.oneField input,
.oneField textarea,
.oneField select {
  max-width: 100%;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  color: whitesmoke;
  border: 2px solid var(--codecell-red-morph);
  border-radius: 8px;
  height: 50px;
  background-color: transparent;
  outline: none;
}

.oneField input:hover,
.oneField select,
.oneField textarea {
  border: 2px solid var(--codecell-red);
}

.oneField textarea {
  resize: none;
  height: 150px;
}

.sectionContent {
  position: relative;
  height: 100%;
}

.oneSection button {
  background-color: var(--codecell-red-morph);
  padding: 10px 20px;
  border: 2px solid var(--codecell-red-morph);
  border-radius: 50px;
  font-size: 18px;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  transition: all 100ms ease-in-out;
}

.oneSection button:hover {
  background-color: var(--codecell-red);
}

.multiple_buttons {
  display: flex;
  gap: 10px;
}

.sectionContent a {
  display: flex;
  text-decoration: none;
  font-size: 10px;
  padding: 8px 0;
  color: var(--white);
}

@media only screen and (max-width: 500px) {
  .sectionHeader h1{
    font-size: 1.8rem;
  }

  .oneSection {
    max-width: 75vw;
  }

  .sectionHeader h1 {
    font-size: 24px;
  }

  .sectionContent label {
    font-size: 0.8rem;
  }

  .oneField input,
  .oneField textarea,
  .oneField select {
    height: 35px;
  }

  .oneField select {
    font-size: 14px;
    padding: 2px;
  }
  
  .oneField input::placeholder, 
  .oneField textarea::placeholder, 
  .oneField select::placeholder {
    font-size: 12px;
  }
}