.oneSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 60vw; 
  cursor: default;
}

.sectionHeader {
  margin-bottom: 30px;
  user-select: none;
}

.sectionHeader span, .sectionHeader h1, .sectionHeader p {
  font-family: 'Bakbak One', cursive;
}

/*    font-family: 'Fira Sans', sans-serif; */

.sectionContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.oneField {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-family: 'Bakbak One', cursive;
  font-size: 13.5px;
}

.oneField a {
  user-select: none;
}

.oneField label {
  margin-bottom: 5px;
  user-select: none;
  font-family: 'Bakbak One', cursive;
  font-weight: 100;
}

.oneField option {
  background-color: var(--deep-blue);
  color: var(--white);
  border: 1px solid var(--dark-blue);
  border-radius: 20px;
}

.oneField input,
.oneField textarea,
.oneField select {
  max-width: 100%;
  padding: 9px;
  font-size: 18.5px;
  font-weight: 400;
  color: whitesmoke;
  border: 2px solid var(--codecell-red-morph);
  border-radius: 8px;
  height: 50px;
  margin-bottom: 5px;
  background-color: transparent;
  outline: none;
  font-family: 'Bakbak One', cursive;
}

.oneField input:hover,
.oneField select,
.oneField textarea {
  border: 2px solid var(--codecell-red);
}

.oneField select {
  user-select: none;
}

.oneField textarea {
  height: 243px;
  resize: none;
}

.sectionContent {
  position: relative;
  height: 100%;
}

.oneSection button {
  background-color: var(--codecell-red-morph);
  padding: 8.5px 18.5px;
  margin-top: 5px;
  border: 2px solid var(--codecell-red-morph);
  border-radius: 50px;
  font-size: 17px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  user-select: none;
  font-family: 'Bakbak One', cursive;
}

.oneSection button:hover {
  background-color: var(--codecell-red);
}

.multiple_buttons {
  display: flex;
  gap: 10px;
}

.sectionContent a {
  display: flex;
  text-decoration: none;
  font-size: 10px;
  padding: 8px 0;
  color: var(--white);
}

@media only screen and (max-width: 500px) {
  .sectionHeader h1{
    font-size: 1.8rem;
  }

  .oneSection {
    max-width: 75vw;
  }

  .sectionHeader h1 {
    font-size: 24px;
  }

  .sectionContent label {
    font-size: 0.8rem;
  }

  .oneField input,
  .oneField select {
    max-height: 38px;
    padding: 10px;
    font-size: 15px;
  }

  .oneField select {
    font-size: 14px;
    padding: 2px;
  }
  
  .oneField input::placeholder, 
  .oneField textarea::placeholder, 
  .oneField select::placeholder {
    font-size: 13px;
  }

  .oneSection button {
    padding: 8px 12px;
    font-size: 14px;
  }
}

.emptyField{
  height: 85px;
}

@media only screen and (max-width: 900px){
  .oneField input,
  .oneField textarea,
  .oneField select {
    width: 60vw;
  }
  .oneField textarea {
    height: 180px;
  }
  .emptyField{
    height: 66px;
  }
}
@media only screen and (max-width: 500px){
  .oneField input,
  .oneField textarea,
  .oneField select {
    width: 80vw;
    /* padding: 12px; */
  }
  .oneField textarea {
    height: 176px;
  }
  .oneField input::placeholder {
    font-size: 14px;
  }
  .oneField label {
    font-size: 14px;
  }
}