*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root{
  --bg-black:#121212
}

.ant-steps-icon{
  background-color: transparent !important;
}

/* .ant-steps-item-wait .ant-steps-item-icon{
  background-color: #8687A8 ;
} */
/* .ant-steps-item-title,.ant-steps-icon{
  color:white !important
} */