

.main {
  background-color:var(--bg-black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  background-color: #252525;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  padding:10%

}
.leftcontainer{
  width: 20%;
  height: 100%;
  color: aliceblue;
}

.rightcontainer {
  margin-top: -8%;
  height: 140%;
  color: gray;
}
