.main {
  background-color: var(--bg-black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: row;
  /* padding: 7%; */
}

.leftcontainer {
  width: 30%;
  height: 100%;
  color: aliceblue;
  padding-right: 3%;
}

.rightcontainer {
  /* margin-top: -8%; */
  height: 100%;
  width: 70%;
  padding: 0 5%;
  color: gray;
  border-left: 2px solid white;
  padding: 7%;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  /* padding: 7%; */
}

.heading {
  height: 30%;
  border-bottom: 2px solid white;
  padding: 2rem 2rem;
}
.heading > img {
  width: 30%;
}

@media only screen and (max-width: 1120px) {
  .main {
    justify-content: flex-start;
  }
  .container {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }
  .leftcontainer {
    width: 100vw;
    height: 20vh;
    padding-right: 0;
  }
  .rightcontainer {
    width: 100%;
    border-left: none;
    border-top: 2px solid white;
  }
  .heading {
    text-align: center;
  }
  .heading > img {
    width: 80%;
  }
}
