.icon {
  border-radius: 50%;
  background-color: #494a7d;
  height: 80px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  display: flex;
  margin: 0 20px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.leftcontainer {
  text-align: right;
  height: 3.5rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-weight: bold;
  font-size: 1rem;
}

.icon, .activeicon, .previcon {
  background-color: var(--white);
  backdrop-filter: blur(4px) saturate(180%);
  border: 1px solid var(--off-white);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  transition: all ease-in-out;
  transition-duration: 50ms;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeicon {
  background-color: #fa4254;
  box-shadow: 0px 0px 100px var(--off-white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previcon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .container {
    margin: 0 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .leftcontainer {
    width: fit-content;
    text-align: center;
  }

  .title {
    font-size: 0.6rem;
  }

  .icon,
  .activeicon,
  .previcon {
    height: 50px;
    width: 50px;
  }

  .icon img, 
  .activeicon img, 
  .previcon img {
    width: 1.5rem;
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 500px) {
  .container {
    margin: 0 5px;
  }

  .icon img, 
  .activeicon img, 
  .previcon img {
    width: 1rem;
    transform: scale(0.9);
  }

  .title {
    width: 40px;
  }

  .icon,
  .activeicon,
  .previcon {
    height: 3rem;
    width: 3rem;
  }
}