.icon {
  border-radius: 50%;
  background-color: #494a7d;
  height: 80px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.leftcontainer {
  text-align: right;
  width: 50%;
  height: 5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.activeicon {
  border-radius: 50%;
  background-color: white;
  height: 80px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.previcon{
  border-radius: 50%;
  background-color: blue;
  height: 80px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media only screen and (max-width: 1120px) {
  .container {
    margin: 0 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .leftcontainer {
    width: fit-content;
    text-align: center;
  }
  .title {
    font-size: 1rem;
  }
  .icon,.activeicon,.previcon{
    height: 60px;
    width: 60px;
  }
}
